body {
    font-family: Arial, sans-serif;
    background: #c2c4fa;
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: 550px;
    padding: 20px;
    margin-top: 80px;
    background-color: #ffffffda;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }
  
  .question {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .choices { /* This is the class for the div that contains the questions */
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  .choice { /* This is the class for the box holding each individual questions. one box per question */
    display: block;
    margin-bottom: 10px;
  }
  
  .button { /*Styling for the Submit Next and Back buttons*/
    display: inline-block;
    padding: 10px 20px;
    background-color: #cb94e6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-top: 25px;
  }
  

    .correct-answer {
    background-color: rgba(76, 175, 80, 0.3); 
    color: #000000; 
    padding: 5px; 
  }
  
  .wrong-answer {
    background-color: rgba(255, 63, 63, 0.505); 
    color: #000000; 
    padding: 5px; 
  }


  .green-text {
    color: #000000;
  }
  
  .red-text {
    color: #000000; 
  }
  

  .button:hover {
    background-color: #c76cd3;
  }
  
  .result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .hide{
    display: none;
  }